* {
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    position: relative;
    margin: auto;
}
#burger-menu {
    display: none;
}
.header{
    background-color: #F2EFEF;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

nav .list{
    display: flex;
    
}

ul li{
    list-style: none;
}

ul li a{
    padding: 20px;
    text-decoration: none;
    color: #948977;
    font-size: 1em;
}

ul{
    display: flex;
    align-items: center;
}

.btn{
    padding : 1em 2em;
}

.btn-press{
    background: #41B883;
    border: none;
    color: white;
    border-radius: 10px;
    transition: 0.2s ease all;
}

.btn-press:hover{
    background: #309e6c;
    transform: scale(1.1);
    
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding-bottom: 100px;
}

.hero .judul{   
    padding-top: 50px;
    color : #41B883;
    font-size: 3.5vmin;
    opacity: 0;
    transform: translate(-60px,0);
    transition: 0.9s;
}

.hero .judul.muncul{   
    opacity: 100%;
    transform: translate(0,0);
}

.hero .png{
    display: flex;
    justify-content: end;
    position: relative;
    top: 65px;
    right: 20px ;
}

.png .icon{
    position:absolute;
}

.png .icon img{
    position: relative;
}

.png .icon img:nth-child(1){
    top : 400px;
    left : -50px;
    opacity: 0;
    transform: translate(0,-1000px);
    transition: 0.7s ease-in-out;
}

.png .icon img:nth-child(2){
    top : 30px;
    left : -150px;
    opacity: 0;
    transform: translate(0,-700px);
    transition: 0.9s ease-in-out;
}

.png .icon img:nth-child(3){
    top : 350px;
    left : 100px;
    opacity: 0;
    transform: translate(0,-400px);
    transition: 1.2s ease-in-out;
}
.png .icon img:nth-child(1).muncul{
    opacity: 100%;
    transform: translate(0,0);
}
.png .icon img:nth-child(2).muncul{
    opacity: 100%;
    transform: translate(0,0);
}
.png .icon img:nth-child(3).muncul{
    opacity: 100%;
    transform: translate(0,0);
}

.png .gambar{
    position: relative;
    opacity: 0;
    transform: translate(0,60px);
    transition: 0.5s ease-in;
}
.png .gambar.muncul{
    opacity: 100%;
    transform: translate(0,0);
}

.png .gambar img{
    height: 60vmin;
}



.hero .btn-press{ 
    font-size: 0.5em;
    margin-top: 40px ;
}

.hero .icon img{
    /* position: absolute; */
    border-radius: 50%;
    height: 10vh;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    
    
}

/* .hero .icon img:nth-child(1){
    top : 360px;
    left : 90px;
}

.hero .icon img:nth-child(2){
    top : 100px;
    left : 140px;
}

.hero .icon img:nth-child(3){
    top : 250px;
    left : 400px;
}


.hero .judul p:nth-child(1){
    font-size: 0.6em;
}

.hero .judul p:nth-child(2){
    font-size: 0.6em;
    display: none;
} */

/* .png {
    position: absolute;
    right :0;
    bottom: 0;
    padding-bottom: 25px;
} */

/* .png img{

} */

.skill{
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;
    z-index: 999999;
    background-color: white;
}
.skill .img{
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
    

}

.skill2{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 999999;
    background-color: white;
}

.skill2 .text{
    margin: 70px 0 100px 0 ;
    font-weight: 300;
}

.skill2 .text h3{
    color:#41B883; 
    margin-bottom: 10px;
}

.skill2 .text h2{
    font-size: 3em ; 
    margin-bottom: 20px;
    
}

.skill2 .button{
    display: flex;
    justify-content: space-around;
    margin: 0 200px;
}

.button .card{
    width: 20vw;
    padding: 25px;
    border-radius: 5%;
}

.button .card:hover{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2)
}

.card img{
    
    margin-bottom: 40px;
    border-radius: 50%;
}
.card h2{
    padding-bottom: 20px;
}

.card p{
    font-size: 0.8em;
}

.card button{
    margin-top: 70px;
    padding: 15px 40px;
    font-size: 1.1em;
    border-radius: 10px;
    background: none;
    border: none;
    cursor: pointer;

}

.card button:hover {
    background: black;
    color: white;
    transition: 0.5s ease all;
}

.card a{
    text-decoration: none;
    color: black;
}
.card a:hover{
    color: white;
}

.experience{
    display: flex;
    justify-content: center;
    background-color: #41B883;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 100px 0;
    margin-top: 100px;
}


.experience h2{
    font-size: 60px;
    font-weight: 600;
    
}

.experience p:nth-child(1){
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.experience p:nth-child(3){
    margin: 25px 0;
    font-weight: 300;
}






.school{
    margin-top: 150px;
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    gap: 100px;
    font-family: 'Poppins', sans-serif;
    
    
}

.school img{
    border-radius: 30px;
    
}

.school .foto{
    display: flex;
    align-items: center;
}

.school .foto img:hover{
    animation: animasiGambar 0.8s ease;
}

.jelas p:nth-child(1){
    color: rgb(65,184,131);
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 20px;
}

.jelas h2 {
    font-size: 3em;
}
.jelas img{
    border-radius: 50%;
    margin: 10px;
}

.jelas .card{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 10px;
    padding: 0 20px 0 0;
    display: flex;
    align-items: center;
    max-width: 500px;
    
}

.jelas .card h3{
    font-weight: 300;
    font-size: 0.8em;
}

.jelas .card:hover{
    box-shadow: 0px 0px 20px 0px #888888;

}

footer{
    background-color: #25362E;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 300;
}
.footer h2{
    font-size: 2em;
    margin-bottom: 50px;
    font-weight: 600;
}

.footer p {
    margin: 10px 0;
}

.footer img{
    padding: 10px 10px;
}

.portfolio{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.portfolio .bg{
    background-color:#F2EFEF;
    display: flex;
    justify-content: center;
}

.portfolio .bag1{
    padding: 100px 0px 300px 0;
}

.portfolio .bag1 p:nth-child(1){
    color: rgb(65,184,131);
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 20px;
}

.portfolio .bag1 h2{
    font-size: 3em;
}
.portfolio .bag2 p{
    color: #41B883;
    cursor: pointer;
    
}

.portfolio .bag2{
    display: grid;
    grid-template-columns: repeat(2,500px);
    gap: 100px;
    justify-content: center;
    position: relative;
    top: -250px;
}

.portfolio .card2{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px ;
}

.portfolio .bag2 .card2 img{
    max-height: 500px; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.portfolio .bag2 .card2 h2{
    padding: 20px 0;
}

.card2 .text{
    padding: 20px 0px 50px 40px;
}


/* RESPONSIVE */

@media screen and (max-width: 768px) {
    .container{
        width: 90%;
    }
    #burger-menu {
        display: block !important;
        z-index: 10000;
    }

    .list .btn .btn-press{
        font-size: 4em;
    }

    nav .list{
        display: none;
    }
    .hero{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero .judul{
        order: 2;
    }
    .hero .png{
        justify-content: center;
        top: 0;
        right: 0;
    }

    .png .icon img:nth-child(1){
        top : 150px;
        left : 0px;
    }
    
    .png .icon img:nth-child(2){
        top :0px;
        left : 30px;
    }
    
    .png .icon img:nth-child(3){
        top : 150px;
        left : 45px;
    }

    .png .gambar img{
        height: 80vmin;
    }

    .skill .img{
        display: grid;
        grid-template-columns: repeat(3,50px);
        gap:10px;
    }

    .skill2{
        text-align: center;
    }

    /* .skill2 .text h3{
        
    } */
    
    .skill2 .text h2{
        font-size: 1.5em ;
    }

    .skill2 .text p{
        font-size: 0.8em;
    }

    .skill2 .button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .button .card{
        width: 75%;
        margin: auto;
        padding: 25px;
        border-radius: 5%;
    }
    
    /* .button .card:hover{
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2)
    } */
    
    .card img{
        height: 75px;
        margin-bottom: 40px;
        border-radius: 50%;
    }
    .card h2{
        padding-bottom: 10px;
        font-size: 1.2em;
    }
    
    .card p{
        font-size: 0.7em;
    }
    
    .card button{
        margin-top: 70px;
        padding: 15px 40px;
        font-size: 1.1em;
        border-radius: 10px;
        background: none;
        border: none;
        cursor: pointer;
    
    }

    .experience > *{
        font-size: 0.6em;
    }

    .experience h2{
        font-size: 3em;
    }

    .experience .btn-press{
        padding: 20px 70px; 
        font-size: 1em; 
        margin-top: 40px ; 
        background-color: white; 
        color:#41B883
    }
    

    .portfolio .bag2{
        grid-template-columns: repeat(1,250px);
    }
    .portfolio .bag2 .card2 img{
        max-height: 175px; 
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .card2 .text{
        padding: 5px 0px 15px 25px;
        line-height: 10px;
    }
    .card2 .text > *{
        font-size: 1em;
    }
    .portfolio .bag2 .card2 h2{
        padding: 10px 0;
    }

    .portfolio .bg .bag1 > * {
        font-size: 0.8em;
    }

    .portfolio .bg .bag1 p:nth-child(1) {
        font-size: 1.2em;
    }

    .portfolio .bg .bag1 h2 {
        font-size: 1.5em;
    }
}





/* ANIMASI */



/* @keyframes animasiGambar {
    from {
        transform: scale(100%);
    } to {
        transform: scale(110%);
    }
}

@keyframes animasiCard {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
} */


/* Paralax */
.skill .img {
    opacity: 0;
    transform: translate(0,40px);
    transition: 0.9s;
}

.skill .img.muncul {
    opacity: 100%;
    transform: translate(0,0);
}

.skill2 .text{
    opacity: 0;
    transform: translate(0,40px);
    transition: 0.9s;
}

.skill2 .muncul{
    opacity: 100%;
    transform: translate(0,0);
}

.button {
    opacity: 0;
    transform: translate(0,60px);
    transition: 0.9s;
}

.button.muncul{
    opacity: 100%;
    transform: translate(0,0);
}

.experience .container{
    opacity: 0;
    transform: translate(-60px,0);
    transition: 0.9s;
}

.experience .container.muncul{
    opacity: 100%;
    transform: translate(0,0);
}

.portfolio .bg{
    opacity: 0;
    transform: translate(-60px,0);
    transition: 0.9s;
}

.portfolio .bg.muncul{
    opacity: 100%;
    transform: translate(0,0);
}

.portfolio .bag2{
    opacity: 0;
    transform: translate(0,-40px);
    transition: 0.9s;
}

.portfolio .bag2.muncul{
    opacity: 100%;
    transform: translate(0,0);
}

.footer{
    opacity: 0;
    transform: translate(0,-60px);
    transition: 0.9s;
}

.footer.muncul{
    opacity: 100%;
    transform: translate(0,0);
}

@keyframes muncul {
    from {
        opacity: 0%;
    } to {
        opacity: 100%;
    }
}

/* BUrGER MENU */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.burger-menu {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.burger-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 4px 0;
}

.menu-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    
    position: fixed;
    left: 0px;
    transition: transform 1s ease-in-out;
    /* justify-content: space-around; */
}

.menu-items li {
    margin-right: 20px;
}

.menu-items a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.menu-items a:hover {
    color: #ff5733;
}

@media screen and (max-width: 768px) {
    .burger-icon {
        display: flex;
    }

    .menu-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    .menu-items.active {
        display: flex;
        transform: translateY(0);
    }
}




